[Unit]
Description=Start Redis DB CBT Timelpases
After=multi-user.target
[Service]
Type=idle
ExecStart=bash /home/blunder/bin/cbt_timelapses_new/startserver.sh
[Install]
WantedBy=multi-user.target